code {
  font-family: "Courier New", Courier, monospace;
}

body,
html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  background-color: #005230;
  color: white;
}
body.yes {
  background-color: #067f4c;
}
body.no {
  background-color: #104142;
}

.question {
  display: block;
  text-align: center;
}
.question.move {
  animation: question 0.4s infinite alternate;
}

.debug {
  display: none;
  margin: 0;
  color: red;
}

@keyframes question {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -10px);
  }
}
.answer {
  display: block;
  text-align: center;
}

.secondary {
  margin: 0;
  opacity: 0.6;
}
.secondary .loading,
.secondary .check,
.secondary .source {
  display: none;
  margin: 20px 0;
  padding: none;
  font-size: inherit;
  text-align: center;
  font-weight: 500;
}
.secondary .check {
  cursor: pointer;
}
.secondary .check:hover {
  text-decoration: underline;
}
.secondary .source {
  margin: 5px 0;
  font-size: 90%;
}
.secondary .source p {
  margin: 10px 0;
}
.secondary .source p:first-of-type {
  margin: 0;
}
.secondary .source a {
  font-size: 70%;
  color: white;
  opacity: 0.5;
}
.secondary .source a:not(:hover) {
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 5px;
  left: 5px;
  right: 5px;
  font-size: clamp(10px, 2vw, 12px);
  opacity: 0.25;
}
footer a {
  color: white;
}
footer a:not(:hover) {
  text-decoration: none;
}
@media (max-width: 400px) {
  footer {
    text-align: center;
  }
}