code {
  font-family: "Courier New", Courier, monospace;
}

body,
html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  background-color: hsl(155, 100%, 16%);
  color: white;

  // Dead
  &.yes {
    background-color: hsl(155, 91%, 26%);
  }

  // Not dead
  &.no {
    background-color: hsl(181, 61%, 16%);
  }
}

.question {
  display: block;
  text-align: center;

  &.move {
    animation: question 0.4s infinite alternate;
  }
}

.debug {
  margin: 0;
  color: red;
}

@keyframes question {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, -10px);
  }
}

.answer {
  display: block;
  text-align: center;
}

// Under answer
.secondary {
  margin: 0;
  opacity: 0.6;

  .loading,
  .check,
  .source {
    display: none;
    margin: 20px 0;
    padding: none;
    font-size: inherit;
    text-align: center;
    font-weight: 500;
  }

  .check {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .source {
    margin: 5px 0;
    font-size: 90%;

    p {
      margin: 10px 0;

      &:first-of-type {
        margin: 0;
      }
    }

    a {
      font-size: 70%;
      color: white;
      opacity: 0.5;

      &:not(:hover) {
        text-decoration: none;
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 5px;
  left: 5px;
  right: 5px;
  font-size: clamp(10px, 2vw, 12px);
  opacity: 0.25;

  a {
    color: white;

    &:not(:hover) {
      text-decoration: none;
    }
  }

  @media (max-width: 400px) {
    text-align: center;
  }
}
